#menu{
	
	height: 50px;
	background-color: greenyellow;
	/*position: fixed;
	bottom: 0px;*/
	
}
.subdiv {
	width: 25%;
	height: 80px;
	/*	display: inline-block;*/
	float: left;
	text-align: center;
	position: relative;
}

.subdiv img {
	width: 30%;
	height: 30%;
	margin-top: 5px;
}

span {
	display: block;
	font-size: 12px;
	color: black;

}

.news {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: red;
	position: absolute;
	left: 60%;
}

.news span {
	font-size: 12px;
	color: white;
	text-align: center;

}