#q {
	display: inline-block;
	margin: 0px, 10px, 0px, 40px;
	padding: 0px;
	border: 0;
	width: 370px;
	height: 540px;
}

#w {
	display: inline-block;
	margin: 100px, 10px, 0px, 10px;
	padding: 0px;
	border: 0;
	width: 770px;
	height: 256px;
	position: absolute;
	top: 60px;
	left: 400px;
}

#e {
	display: inline-block;
	padding: 0px;
	border: 0;
	width: 370px;
	height: 256px;
	position: absolute;
	left: 400px;
	top: 345px;
}

#r {
	display: inline-block;
	padding: 0px;
	border: 0;
	width: 370px;
	height: 256px;
	position: absolute;
	left: 800px;
	top: 345px;
}