#q {
	display: inline-block;
	border: 3px solid black;
	width: 500px;
	height: 450px;
	background-color: dodgerblue;
	border-radius: 90%;
	position: absolute;
}

#w {
	display: inline-block;
	border: 3px solid black;
	width: 400px;
	height: 370px;
	background-color: white;
	border-radius: 90%;
	position: absolute;
	top: 76px;
	left: 44px;
}

#e {
	display: inline-block;
	border: 3px solid black;
	width: 65px;
	height: 99px;
	background-color: white;
	border-radius: 90%;
	position: absolute;
	top: -51px;
	left: 125px;
}

#r {
	display: inline-block;
	border: 3px solid black;
	width: 65px;
	height: 99px;
	background-color: white;
	border-radius: 90%;
	position: absolute;
	top: -6px;
	left: 75px;
}

#t {
	display: inline-block;
	border: 3px solid black;
	width: 40px;
	height: 40px;
	background-color: red;
	border-radius: 40px;
	position: absolute;
	top: 132px;
	left: 235px;
}

#y {
	display: inline-block;
	border: 3px solid black;
	width: 1px;
	height: 80px;
	background-color: black;
	position: absolute;
	top: 176px;
	left: 254px;
}

#u {
	display: inline-block;
	border: 3px solid black;
	width: 340px;
	height: 160px;
	background-color: red;
	border-radius: 0px 0px 170px 170px;
	position: absolute;
	top: 262px;
	left: 85px;
}

#i {
	display: inline-block;
	border: 3px solid black;
	width: 180px;
	height: 90px;
	background-color: darkorange;
	border-radius: 0px 0px 90px 90px;
	position: absolute;
	top: 329px;
	left: 163px;
}

#o {
	display: inline-block;
	border: 3px solid black;
	width: 300px;
	height: 38px;
	background-color: red;
	border-radius: 20px;
	position: absolute;
	top: 433px;
	left: 102px;
}

#p {
	display: inline-block;
	border: 3px solid black;
	width: 90px;
	height: 90px;
	background-color: yellow;
	border-radius: 45px;
	position: absolute;
	top: 434px;
	left: 206px;
}

#a {
	display: inline-block;
	border: 3px solid black;
	width: 80px;
	height: 6px;
	background-color: yellow;
	border-radius: 45px;
	position: absolute;
	top: 458px;
	left: 211px;
}

#s {
	display: inline-block;
	border: 3px solid black;
	width: 26px;
	height: 26px;
	background-color: gray;
	border-radius: 26px;
	position: absolute;
	top: 470px;
	left: 236px;
}

#d {
	display: inline-block;
	border: 3px solid black;
	width: 1px;
	height: 25px;
	background-color: black;
	position: absolute;
	top: 498px;
	left: 249px;
}

#f {
	display: inline-block;
	border: 3px solid black;
	width: 26px;
	height: 26px;
	background-color: black;
	border-radius: 26px;
	position: absolute;
	top: 86px;
	left: 198px;
}

#g {
	display: inline-block;
	border: 3px solid black;
	width: 26px;
	height: 26px;
	background-color: black;
	border-radius: 26px;
	position: absolute;
	top: 86px;
	left: 273px;
}

#h {
	border: 3px solid black;
	width: 1px;
	height: 130px;
	background-color: black;
	transform: rotate(70deg);
	position: absolute;
	top: 84px;
	left: 374px;
}

#j {
	border: 3px solid black;
	width: 1px;
	height: 130px;
	background-color: black;
	transform: rotate(-70deg);
	position: absolute;
	top: 84px;
	left: 137px;
}

#k {
	border: 3px solid black;
	width: 130px;
	height: 1px;
	background-color: black;
	position: absolute;
	top: 185px;
	left: 51px;
}

#l {
	border: 3px solid black;
	width: 130px;
	height: 1px;
	background-color: black;
	position: absolute;
	top: 185px;
	left: 326px;
}

#z {
	border: 3px solid black;
	width: 1px;
	height: 130px;
	background-color: black;
	transform: rotate(-105deg);
	position: absolute;
	top: 157px;
	left: 133px;
}

#x {
	border: 3px solid black;
	width: 1px;
	height: 130px;
	background-color: black;
	transform: rotate(105deg);
	position: absolute;
	top: 157px;
	left: 379px;
}

#HEADDIV {
	transform: scale(0.5);
	width: 506px;
	height: 490px;
	/*border: 1px solid black;*/
	z-index: 3;
	position: absolute;
	top: -91px;
	left: 221px;
}

#c {
	border: 1px solid black;
	width: 200px;
	height: 178px;
	background-color: dodgerblue;
	border-radius: 25%;
	border-top: none;
	position: absolute;
	top: 253px;
	left: 375px;
}

#v {
	border: 1px solid black;
	width: 150px;
	height: 132px;
	background-color: white;
	border-radius: 58%;
	position: absolute;
	top: 269px;
	left: 397px;
}

#b {
	border: 1px solid black;
	transform: rotate(43deg);
	width: 103px;
	height: 46px;
	background-color: dodgerblue;
	border-radius: 20%;
	border-right: none;
	position: absolute;
	top: 235px;
	left: 320px;
}

#n {
	display: inline-block;
	border: 1px solid black;
	width: 70px;
	height: 70px;
	background-color: white;
	border-radius: 90%;
	position: absolute;
	top: 176px;
	left: 283px;
}

#m {
	border: 1px solid black;
	transform: rotate(-41deg);
	width: 90px;
	height: 50px;
	background-color: dodgerblue;
	border-radius: 20%;
	border-right: none;
	position: absolute;
	top: 283px;
	left: 483px;
}

#qq {
	display: inline-block;
	border: 1px solid black;
	width: 99px;
	height: 53px;
	background-color: white;
	border-radius: 0px 0px 45px 45px;
	position: absolute;
	top: 323px;
	left: 426px;
}

#ww {
	display: inline-block;
	border: 4px solid black;
	width: 111px;
	height: 60px;
	transform: rotate(-3deg);
	background-color: white;
	border-right: none;
	border-top: none;
	border-radius: 57%;
	position: absolute;
	top: 404px;
	left: 365px;
	z-index: -1;
}

#ee {
	display: inline-block;
	border: 4px solid black;
	width: 111px;
	height: 60px;
	transform: rotate(3deg);
	background-color: white;
	border-left: none;
	border-top: none;
	border-radius: 57%;
	position: absolute;
	top: 404px;
	left: 478px;
	z-index: -1;
}

span {
	font-size: 36px;
	position: absolute;
	top: 401px;
	left: 469px;
}