div {
	float: left;
}

#catigroy {
	width: 190px;
	height: 480px;
	background-color: lightgray;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

#content {
	width: 998px;
	height: 480px;
	background-color: papayawhip;
	display: none;
	/*visibility: hidden;*/
}

#catigroy:hover+#content {
	display: block;
}

#content:hover {
	display: block;
}