#q {
	width: 200px;
	height: 300px;
	background-color: red;
	position: absolute;
	overflow: hidden;
	display: flex;
}

#w {
	width: 240px;
	height: 200px;
	border-radius: 50%;
	background-color: indianred;
	position: absolute;
	top: -74px;
	left: -24px;
}

#e {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: burlywood;
	position: absolute;
	top: 133px;
	left: 71px;
}

span {
	font-size: 35px;
	color: black;
	position: absolute;
	top: 29px;
	left: 33px;
}