#q {
	width: 200px;
	height: 110px;
	border: 3px solid black;
	border-radius: 20px;
	position: absolute;
	overflow: hidden;
	left: 10px;
	top: 10px;
}

#w {
	width: 20px;
	height: 45px;
	border: 3px solid black;
	border-radius: 0 15px 15px 0;
	position: absolute;
	left: 213px;
	top: 42px;
}

#battery {
	width: 250px;
	height: 150px;
	position: absolute;
	left: 200px;
	top: 200px;
}

@-webkit-keyframes power {
	0% {
		width: 0px;
		height: 110px;
		background-color: lawngreen;
		border-radius: 20px;
	}
	100% {
		width: 200px;
		height: 110px;
		background-color: lawngreen;
		border-radius: 20px;
	}
}

#ele {
	animation: power 5s linear infinite;
    width: 199px;
	height: 109px;
	position: absolute;
	left: 0px;
	top: 0px;
}